.modal{
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(66, 66, 66, 0.486);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal__box{
        min-width: 40%;
        background-color: #fff;
        z-index: 50;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 16px 8px;
        display: flex;
        flex-direction: column;

        .modal__input > input{
            width: 100%;
            padding: 8px;
            font-size: 16px;
            outline: none;
            border: 1px solid rgb(44, 44, 44);
        }

        .modal__btn{
            margin-top: 16px;
            display: flex;
            justify-content: flex-end;

            .modal__btn__item{
                padding: 8px;
                margin-left: 8px;
                transition: .2s;         
                cursor: pointer;       
                border-radius: 4px;
                color: rgb(199, 199, 199);
                font-size: 16px;
                font-weight: 600;
                opacity: 1;
                &.cancel{
                    background-color: rgb(163, 0, 0);
                }

                &.save{
                    background-color: green;
                }
            }
        }

    }

}